<footer>
  <div class="container">
    <div class="row vcenter">
      <div class="col-xs-12 col-sm-3">
        <h3>institucional</h3>
        <p><a href="index.html">início</a></p>
        <p><a href="sobre.html">sobre</a></p>
        <p><a href="eventos.html">eventos</a></p>
        <p><a href="fale-conosco.html">contato</a></p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h3>segmentos</h3>
        <p><a href="segmentos/laser.html">laser PLDD</a></p>
        <p><a href="segmentos/coluna-e-ortopedia.html">coluna e ortopedia</a></p>
        <p><a href="segmentos/orl-cabeca-e-pescoco-bucomaxilofacial.html">ENT &amp; bucomaxilofacial</a></p>
        <p><a href="segmentos/estereotaxia.html">estereotaxia</a></p>
        <p><a href="segmentos/neuronavegacao.html">neuronavegação</a></p>
      </div>
      <div class="col-xs-12 col-sm-3 col-sm-offset-1">
        <br>
        <div class="row">
          <a href="segmentos/fale-conosco.html"><div class="btn-simple"><p>FALE CONOSCO</p></div></a>
        </div>
        <br>
        <div class="row">
          <p class="copyright"><small>&copy; Copyright 2017 <a href="http://cafeamanda.com.br">Café</a>. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>
