<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="navLogo" class="container-fluid">
        <div class="row vcenter">
          <div class="col-xs-8 col-sm-3">
            <a href="index.html" style="line-height:inherit;"><img src="images/LOGO.jpg" class="img-responsive"></a>
          </div>
          <div class="col-xs-4 col-sm-9">
            <p class="text-right"><small>
              <strong>Axial Implantes Cirúrgicos</strong>
              <br>
              (21) 2289-1210 | contato@ecmax.com.br
            </small></p>
          </div>
        </div>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">início</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">axial implantes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="sobre.html">sobre nós</a></li>
            <li><a href="eventos.html">eventos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">segmentos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="segmentos/coluna-e-ortopedia.html">Coluna e ortopedia</a></li>
            <li><a href="segmentos/orl-cabeca-e-pescoco-bucomaxilofacial.html">ENT &amp; bucomaxilofacial</a></li>
            <li><a href="segmentos/laser.html">Laser PLDD</a></li>
            <li><a href="segmentos/estereotaxia.html">Estereotaxia</a></li>
            <li><a href="segmentos/neuronavegacao.html">Neuronavegação</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">produtos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.coluna">coluna e ortopedia</a></li>
            <li><a ui-sref="app.ent">ENT &amp; bucomaxilofacial</a></li>
            <li><a ui-sref="app.solucoes">outras soluções em cirurgias</a></li>
          </ul>
        </li>
        <li><a href="fale-conosco.html">contato</a></li>
      </ul>
    </div>
  </div>
</nav>
