<div class="container-fluid container-content-app">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Produtos</li>
  </ol>
  <div class="container">
    <div class="row">
      <a ui-sref="app.coluna"><h3 class="segmentos-header">Coluna e ortopedia <i class="fa fa-angle-double-right"></i></h3></a>
      <ul>
        <li>Cifoplastia com balão</li>
        <li>Sistemas de fixação espinhal</li>
        <li>Artroscopia</li>
        <li>RF para tratamento da dor</li>
      </ul>
    </div>
    <div class="row">
      <a ui-sref="app.ent"><h3 class="segmentos-header">ENT &amp; bucomaxilofacial <i class="fa fa-angle-double-right"></i></h3></a>
      <ul>
        <li>Kit de dissecção endonasal</li>
        <li>Kit endoscópico nasal</li>
        <li>Cânulas para cirurgia de ATM</li>
        <li>Brocas e fresas</li>
        <li>Fixador de crânio</li>
      </ul>
    </div>
    <div class="row">
      <a ui-sref="app.solucoes"><h3 class="segmentos-header">Outras soluções em cirurgia <i class="fa fa-angle-double-right"></i></h3></a>
      <ul>
        <li>Adesivos luminosos de LED</li>
        <li>Enxertos ósseos</li>
        <li>Hemostáticos</li>
        <li>Membranas biológicas</li>
        <li>Tampões e splints nasais</li>
      </ul>
    </div>
  </div>
</div>
