<div class="container-fluid container-content-app">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="app">Produtos</a></li>
    <li class="breadcrumb-item active">Outras soluções em cirurgias</li>
  </ol>
  <h3 class="segmentos-header"><a ui-sref="app"><i class="fa fa-angle-double-left"></i> Outras soluções em cirurgias</a></h3>
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0">
      <uib-tab-heading>
        <img src="images/logos/color/osron.png" class="tab-heading-img">
      </uib-tab-heading>
      <div class="container">
        <h1 class="text-center">
          <img src="images/logos/color/osron.png" class="center-block img-responsive header-logo">
          <img src="images/produtos/osron/selo-anvisa.png" height=50>
          Flex Lite LED light stickers
        </h1>
        <p class="text-center">Soft and bendable LED light stickers. Provides deep cavity lightening and cool (not heated) light application for approximately 30 minutes.</p>
        <div class="row">
          <iframe width="560" height="315" class="center-block" src="https://www.youtube.com/embed/6ncVKjO0kdU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row">
          <h1 class="text-center"></h1>
          <div class="col-xs-12 col-sm-6" ng-repeat="product in osronproducts">
            <div class="row row-center">
              <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                <img src="images/produtos/osron/{{product.filename}}" class="img-responsive center-block">
              </div>
              <div class="col-xs-12 col-sm-6">
                <h4>{{product.name}}</h4>
                <p>({{product.code}})</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <h4>Características</h4>
            <ul>
              <li>Fonte de luz fria</li>
              <li>Dobrável</li>
              <li>Sistema de energia sem cabo</li>
              <li>Leve e compacto</li>
              <li>Descartável e livre de manutenção</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <h4>Aplicações</h4>
            <ul>
              <li>Odontologia</li>
              <li>Ginecologia</li>
              <li>Cirurgia plástica</li>
              <li>Cirurgia ortopédica</li>
              <li>Cirurgia de cabeça e pescoço</li>
              <li>Cirurgia cardio-torácica</li>
            </ul>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="1">
      <uib-tab-heading>
        <img src="images/logos/color/baumer.png" class="tab-heading-img">
      </uib-tab-heading>
      <div class="container">
        <h1 class="text-center">
          <img src="images/logos/color/baumer.png" class="center-block img-responsive header-logo">
          Enxertos Ósseos
        </h1>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <img src="images/produtos/outros/enxerto-osseo-baumer-integral.png" class="img-responsive center-block">
            <h3 class="text-center">Integral</h3>
            <h4>Aplicabilidade</h4>
            <ul>
              <li>Perdas ósseas extensas ou localizadas com a indicação de reconstrução por meio de substitutos ósseos em bloco.</li>
            </ul>
            <h4>Vantagens e benefícios</h4>
            <ul>
              <li>Estrutura porosa e firme facilita a deposição de células osteogênicas e formação de osso novo por osteocondução;</li>
              <li>Por sua natureza trabeculada intacta e sem resíduos, permite rápida vascularização;</li>
              <li>Processamento físico-químico comprovadamente eficaz quanto  agentes infecciosos;</li>
              <li>Excelente alternativa ao osso alógeno e autógeno;</li>
              <li>Pode ser lapidado e adaptado ao leito receptor;</li>
              <li>Produto de fácil manipulação;</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <img src="images/produtos/outros/enxerto-osseo-baumer-inorganico.png" class="img-responsive center-block">
            <h3 class="text-center">Inorgânico</h3>
            <h4>Aplicabilidade</h4>
            <ul>
              <li>Em procedimentos de Implantodontia, periodontia, bucomaxilo e cirurgias ósseas, tais como:
                <ul>
                  <li>Preenchimento de alvéolos sem a manutenção da arquitetura alveo lar com a perda de até duas paredes;</li>
                  <li>Defeitos intra-ósseos, ancoragem em implantes imediatos, e tratamentos cirúrgicos periimplantes;</li>
                  <li>Lesões ósseas periodontais e cirurgias parendodônticas;</li>
                  <li>Recobrimento de espiras expostas</li>
                </ul>
              </li>
            </ul>
            <h4>Vantagens e benefícios</h4>
            <ul>
              <li>Permite a manutenção do volume e arcabouço ósseo;</li>
              <li>Devido sua carga inorgânica, mantém um volume ósseo após processo de remodelação;</li>
              <li>Permite a reconstrução de paredes ósseas, principalmente vestibulares (necessidade estética) com a manutenção do volume ósseo e da ar quitetura alveolar;</li>
            </ul>
          </div>
        </div>
        <hr>
        <h1 class="text-center">
          <img src="images/logos/color/baumer.png" class="center-block img-responsive header-logo">
          Membrana Biológica
        </h1>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <img src="images/produtos/outros/membrana-biologica-baumer.png" class="img-responsive center-block">
            <h4>Vantagens e benefícios</h4>
            <ul>
              <li>Barreira biológica permeável que permite vascularização e troca de nutrientes;</li>
              <li>Material de fácil manipulação;</li>
              <li>Altamente flexível (após hidratação com soro fisiológico estéril);</li>
              <li>Evita segunda cirurgia para remoção da membrana.</li>
            </ul>
            <h4>Características</h4>
            <ul>
              <li>Material natural reabsorvível de origem bovina indicado como membrana biológica para finalização de procedimentos de preenchimento de falhas ósseas;</li>
              <li>Indicado como barreira biológica que impede a invasão de células não osteogênicas para o local do implante favorecendo a regeneração tecidual guiada.</li>
            </ul>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2">
      <uib-tab-heading>
        <img src="images/logos/color/ceramisys.png" class="tab-heading-img">
      </uib-tab-heading>
      <div class="container">
        <h1 class="text-center">
          <img src="images/logos/color/ceramisys.png" class="center-block img-responsive header-logo">
          Enxerto ósseo em pasta ReproBone&trade;
        </h1>
        <p class="text-center">O enxerto ReproBone é um substituto ósseo sintético em pasta com nanocristais.<br>ReproBone se adapta com facilidade a forma do defeito e adere-se à superfície do osso maximizando o contato do osso-implante.</p>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <img src="images/produtos/outros/reprobone.png" class="img-responsive center-block">
            <h4>Características</h4>
            <ul>
              <li><strong>Pré-mistura:</strong> retirar a tampa e usá-lo diretamente no aplicador;</li>
              <li><strong>Modável e de consistência pastosa:</strong> a seringa aplicadora permite uma fácil inserção de pasta de consistência viscosa no local cirúrgico;</li>
              <li><strong>Nanotecnologia:</strong> 50 à 100 vezes melhor de que as tecnologias de enxerto típicos.</li>
              <li><strong>Reabsorção:</strong> o ReproBone é facilmente reabsorvido durante alguns meses.</li>
            </ul>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="3">
      <uib-tab-heading>
        <img src="images/logos/color/dmc.png" class="tab-heading-img">
      </uib-tab-heading>
      <div class="container">
        <h1 class="text-center">
          <img src="images/logos/color/dmc.png" class="center-block img-responsive header-logo">
          Hemostático Bleed STP
        </h1>
        <p class="text-center"></p>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <img src="images/produtos/outros/bleed-stp.png" class="img-responsive center-block">
            <p class="text-justify">Os produtos Bleed STP e Bleed STP+ tem como função a <strong>hemostasia natural</strong> do sangue através de partículas hidrofílicas de polissacarídeo vegetal natural.</p>
            <p class="text-justify">O Bleed STP+ também diminui a formação de aderências devido à ação da carboximetilcelulose.</p>
            <p class="text-justify">São 100% bioabsorvíveis e biocompatíveis.</p>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="4">
      <uib-tab-heading>
        <img src="images/logos/color/equicel.png" class="tab-heading-img">
      </uib-tab-heading>
      <div class="container">
        <h1 class="text-center">
          <img src="images/logos/color/equicel.png" class="center-block img-responsive header-logo">
          Hemostático em gel Assut
        </h1>
        <p class="text-center"></p>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="row row-center">
              <img src="images/produtos/outros/equicel-gel-1.png" class="img-responsive img-top-products">
              &emsp;
              <img src="images/produtos/outros/equicel-gel-2.jpeg" class="img-responsive img-top-products">
            </div>
            <h4>Aplicabilidade</h4>
            <ul class="text-justify">
              <li>Procedimentos cirúrgicos para ajudar no controle capilar, venoso e pequenas hemorragias arteriais quando a ligadura ou outros métodos convencionais de controle são impraticáveis ​​ou ineficazes.</li>
              <li>Procedimentos endoscópicos (pode ser cortada de tamanho)</li>
              <li>Microcirurgias</li>
              <li>Pode ser usado em muitas áreas da cirurgia, por exemplo:
                <ul>
                  <li>Cirurgia cardiovascular;</li>
                  <li>Hemorroidectomia</li>
                  <li>Implantação de próteses vasculares;</li>
                  <li>Biópsias;</li>
                  <li>Operações de pulmão;</li>
                  <li>Cirurgia da face e mandíbula;</li>
                  <li>Ressecção gástrica;</li>
                  <li>Operações de bexiga, garganta ou nariz, fígado e vesícula;</li>
                  <li>Operações ginecológicas;</li>
                  <li>Simpatectomia torácica e abdominal;</li>
                  <li>Neurocirurgia;</li>
                  <li>Operações cerebrais;</li>
                  <li>Operações de tireóide;</li>
                  <li>Transplantes de pele;</li>
                  <li>Tratamento de lesões superficiais;</li>
                  <li>Microdiscectomia.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="5">
      <uib-tab-heading>
        <img src="images/logos/color/surgipack.png" class="tab-heading-img">
      </uib-tab-heading>
      <div class="container">
        <h1 class="text-center">
          <img src="images/logos/color/surgipack.png" class="center-block img-responsive header-logo">
          Tampão Nasal
        </h1>
        <div class="row">
          <img src="images/produtos/outros/tampao-nasal.png" class="img-responsive img-top-products center-block">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <ul>
                <li>Poros de tamanho controlado firmemente ligados entre si com o objetivo de prevenir que fragmentos sejam liberados;</li>
                <li>Absorventes, biocompatíveis e macios;</li>
                <li>Possuem força de tensão muito alta, assim, risco de contaminar as feridas com algodão/ linho é eliminado evitando que fragmentos provoquem complicações, tais como: adesões, granulomas, infecções ou embolia;</li>
                <li>Os tampões Surgipack possuem uma alta capacidade de absorção: mais que vinte vezes o seu peso inicial.</li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <h1 class="text-center">
            Splint Nasal
          </h1>
        </div>
        <div class="row">
          <img src="images/produtos/outros/splint-nasal.png" class="img-responsive img-top-products center-block">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <ul>
              <li>Especialmente projetado para ser usado na sustentação da cartilagem septo nasal a fim de evitar a formação de edemas e hematomas depois da cirurgia;</li>
              <li>A fim de oferecer sustentação do septo nasal com conforto para o paciente, Está indicado para uso do paciente após os procedimento em que ocorram desestabilização do septo nasal.</li>
            </ul>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
